@import './styles/theme.scss';

$bodyColor: #e9ecef;
$white: #fff;
$yellow: #ffff00;

.jumbotron:last-child {
  margin-bottom: 0;
}

.order-user-active,
.driver-order-active,
.order-driver-accepted {
  max-width: 600px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.box {
  background-color: $text-color;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 0.25rem;
  font-size: 14px;
}

.btn-space {
  display: flex;
  justify-content: space-evenly;
}

#card {
  margin-top: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $text-color;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}

.extra-service {
  background-color: $yellow;
}

@keyframes example {
  0% {
    left: -15%;
  }

  100% {
    left: 150%;
  }
}

.animation {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.11, 0.71, 0.96, 0.22);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: running;

  & p {
    position: absolute;
    top: 18px;
    left: -150px;
  }
}

.taxi-img {
  position: relative;
  background-image: url(./components/icons/taxi.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 50px;
}

.overflow {
  overflow: hidden;
}

.walk-img {
  position: relative;
  background-size: contain;
  background-image: url(./components/icons/walk.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 50px;
}

.round-button {
  position: absolute;
  left: 1px;
  top: -22px;
  padding: 0;
  height: 65px;
  width: 65px;
  border-radius: 33px !important;
}

.padding-0 {
  padding: 0 !important;
}

.jumbotron {
  margin-bottom: 0;
  padding: 2rem !important;
}

.container-fluid {
  max-width: 600px;
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  margin: auto;
}

#driver {
  margin-left: 10px;
}

.cm-toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:after {
    content: '';
    width: 34px;
    height: 15px;
    display: inline-block;
    background: $toggle-background;
    border-radius: 18px;
    clear: both;
  }

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: $text-color;
    box-shadow: 1px 1px 3px $black;
  }

  &:checked:before {
    left: 20px;
    box-shadow: -1px 1px 3px $black;
  }

  &:checked:after {
    background: $accent-color;
  }
}

.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}
