@import '../../../styles/theme.scss';

.jumbotron {
  border-radius: 0 !important;
}

.order__form {
  padding: 10px;

  border-radius: $input-border-radius;

  background-color: $section-bg-color;
}
