.request__item {
  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  margin-bottom: 1.5em;

  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  background-color: var(--item-bg-color);
}

.group {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.request__up {
  align-items: stretch;
}

.request__data,
.request__adress {
  padding: 10px;
  justify-self: stretch;
  width: 50%;
}

.request__adress {
  div span:first-child {
    margin-right: 5px;
  }
}

.request__street {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.request__data {
  justify-content: space-evenly;
}
.request__info {
  justify-content: space-between;
  align-items: center;

  li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
  }
}

.request__status {
  padding: 10px;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  padding: 5px;

  text-align: center;

  p {
    margin: 0;
  }
  &__label {
    text-transform: capitalize;
    font-size: 0.85rem;

    font-weight: bold;
    letter-spacing: 1px;

    color: var(--text-color);
  }

  &__value {
    color: var(--accent-color);
    font-size: 0.9rem;

    text-align: center;
    font-weight: 500;

    &.date {
      width: max-content;
    }
  }
}

.request__btn {
  flex-basis: 100%;
}

.info__icon {
  width: 20px;
}
