@import '../../styles/theme.scss';

.order__list {
  max-width: $container-width;

  padding: 1em;
  margin: 0 auto 10px;

  background-color: $section-bg-color;
}

.nav.nav-tabs {
  border-bottom: none;
}

.nav-item {
  color: $accent-color !important;
  &:hover {
    border-color: $accent-color !important;
  }
  &.active {
    background-color: $accent-color !important;
    color: $section-bg-color !important;
    border-color: $section-bg-color !important;
  }
}
