.order {
  &.jumbotron {
    margin-bottom: 0;
  }
  &__wrap {
  }
  &__price {
    font-size: 1.3em !important;
  }
  &__form {
    max-width: 600px;
    margin: auto;
  }

  &__service-icon {
    width: 100%;
    height: auto;

    filter: grayscale(1);

    &.active {
      filter: none;
    }
  }
  .extra-service {
    display: flex;
    justify-content: space-around;
    &__label {
      width: 45px;
    }
  }
}
