$generalAlert: #ff7474;
$black: #000;

.toast, .toast-header {
    background-color: $generalAlert !important;
    color: $black !important;
}

.modal {
    height: inherit!important;
    margin: auto!important;
    position: absolute!important;
    top: 20%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}