.stars {
  font-size: 60px;
}

.buttons {
  margin-top: 16px;
}

.submit_btn {
  margin-left: 8px;
}

.star_label {
  margin: 0;
}

.maxlength_warning {
  margin-top: 8px;
}

.modal {
  &__header {
    background-color: var(--section-bg-color);
    color: var(--text-color);
    &.modal-header {
      border-color: var(--accent-color);
    }
  }
  &__body {
    background-color: var(--section-bg-color);
    color: var(--text-color);
  }
}
