$white: #fff;
$yellow: #ffff00;
$black: #000;
$section-bg-color: #222424;

.profile {
    max-width: 600px;
    margin: auto;

    .profile-header {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }

    #edit {
        opacity: 0;
        min-width:85px;
        height:20px;
        right:0;
        top:18px;
        position: absolute;
    }

    .edit-btn-off {
        background: $black;
        color: var(--accent-color);
        
    }

    .edit-btn-on {
        background: var(--accent-color);
        color: $black;
    }

    .profile-info {
        margin-bottom: 10px;
        background-color:$section-bg-color;
        color: $white;
    }

    .profile-text {
        padding: 10px;
        padding-bottom: 0;
        border-radius: .25rem;
        border: 2px solid var(--accent-color);
        border-radius: .25rem;
        margin-bottom: 10px;

        &>p {
            margin-bottom: 1rem;
        }
    }

    .driver-form {
        border: 2px solid $yellow;
        border-radius: .25rem;
        padding: 10px;
    }

    .edit-form {
        font-weight: bold;
    }

    .reg-driver {
        font-weight: bold;
        padding-bottom: 10px;

        .validate_warning {
            font-weight: normal;
        }
    }

    .logout {
        width:100%;
    }
}
