$white: #fff;

.profile {
    max-width: 600px;
    margin: auto;

    .profile-info {
        margin-bottom: 10px;
        background-color:$white;
    }

    .profile-text {
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: .25rem;
    }

    .profile-buttons {
        display: flex;
    }

    #edit {
        margin-left: 5px;
    }

    .logout {
        width:100%;
    }
}
