$white: #fff;
$yellow: #ffff00;

.profile {
    max-width: 600px;
    margin: auto;

    .profile-header {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }

    #edit {
        opacity: 0;
        min-width:85px;
        height:20px;
        right:0;
        top:18px;
        position: absolute;
    }

    .edit-btn-off {
        background: #000;
        color: $white;
        
    }

    .edit-btn-on {
        background: $yellow;
        color: #000;
    }

    .profile-info {
        margin-bottom: 10px;
        background-color:$white;
    }

    .profile-text {
        padding: 10px;
        padding-bottom: 0;
        border-radius: .25rem;
        border: 2px solid $yellow;
        border-radius: .25rem;
        margin-bottom: 10px;

        &>p {
            margin-bottom: 1rem;
        }
    }

    .driver-form {
        border: 2px solid $yellow;
        border-radius: .25rem;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .edit-form {
        font-weight: bold;
    }

    .reg-driver {
        font-weight: bold;
        padding-bottom: 10px;

        .validate_warning {
            font-weight: normal;
        }
    }

    .cm-toggle {
        -webkit-appearance: none;
	    -webkit-tap-highlight-color: transparent;
	    position: relative;
	    border: 0;
	    outline: 0;
	    cursor: pointer;
        
        &:after {
            content: '';
            width: 34px;
            height: 15px;
            display: inline-block;
            background: rgba(196, 195, 195, 0.55);
            border-radius: 18px;
            clear: both;
        }

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        }

        &:checked:before {
            left: 20px;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
        }

        &:checked:after {
            background: $yellow;
        }
    }

    .cm-toggle,
    .cm-toggle:before,
    .cm-toggle:after,
    .cm-toggle:checked:before,
    .cm-toggle:checked:after {
    	transition: ease .3s;
    	-webkit-transition: ease .3s;
    	-moz-transition: ease .3s;
    	-o-transition: ease .3s;
    }

    .logout {
        width:100%;
    }
}
