.request__item {
  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  margin-bottom: 1.5em;

  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  background-color: var(--item-bg-color);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  padding: 1%;

  text-align: center;

  p {
    margin: 0;
  }

  &__label {
    text-transform: capitalize;
    font-size: 0.85rem;

    font-weight: bold;
    letter-spacing: 1px;

    color: var(--text-color);
  }

  &__value {
    color: var(--accent-color);
    font-size: 0.8rem;

    text-align: center;
    font-weight: 500;

    &[href]:hover {
      color: var(--svg-color);
    }

    &.date {
      width: max-content;
    }
  }

  &__extra-services {
    display: flex;
    justify-content: space-around;

    margin: auto;

    &-icon {
      padding: 0 2px;
      width: 1.7em;
      height: auto;
    }
  }
}

.request__button {
  width: 100%;
}

.info__icon {
  width: 20px;
}

.grid__container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 33.3% 33.3% 33.3%;
  width: 100%;
  height: 100%;
}

.grid__footer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.padding {
  padding: 0 2% 0 2%;
  align-self: center;
}

.info__center {
  display: flex;
  justify-content: space-around;
  margin: 15% 0 20% 0;
}