$white: #fff;
$black: #000;
$section-bg-color: #222424;

.login, .registration {
    background-color:$section-bg-color;
    border-radius: .25rem;
    padding-top: 5px;
    padding: 2rem 2rem;
    color: $white;

    h2 {
      color: var(--accent-color);
    }

    @media (max-width:450px){
      .container-fluid {
        padding-left: 15vw!important;
      }
    }

}

.login-link {
  margin-left: 1rem;
}

.register-link, .login-link {
  color: var(--accent-color);
}

.register-link:hover , .login-link:hover {
  color: white;
}

.login-btn {
  margin-left: 1rem;
}

.login-btn > a:hover {
  color: inherit;
  text-decoration: none;
}

.validate_warning {
    margin-top: 8px;
}

.validate_warning>.alert-warning {
  max-width: 182px;
  padding-top: 0.5rem;
  padding-bottom: 0.5em;
}
 
.verify {
  text-align: center;
  padding: 10px;
  background-color: $section-bg-color;

  label {
    color:$white;
    font-size: 17px;
  }
}

.wrapper >* {
   visibility: hidden;
}