.navigation {
    
    max-width: 600px;
    margin-top: 10px;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  #007bff;
    border-radius: .25rem;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .nav-link a {
        color:#fff;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-link a.active {
        color:#d8d83adc ;
        font-weight: 700;
    }

}

